--- 
# Utilizando Python para criar e fazer CRUD em banco de dados <br>
---

### Modelo para automatizar o CRUD 
> CRUD são as quatro operações básicas utilizadas em bases de dados relacionais fornecidas aos utilizadores do sistema. <br>
  CRUD = Create Read Update e Delete

---
## Código Utilizado<br>
---

### <li> 1° Passo: Importação de libs (Bibliotecas)

In [ ]:
import os
import sqlite3
import datetime
import random

### <li> 2° Passo: Criar o banco de dados .db

><h6> Comando que irá remover o banco de dados caso o mesmo ja exista, se não houver o banco ele será criado<br></h6>
<blockquote> <blockquote> Comando: <b>os.remove('zoologico.db') if os.path.exists('zoologico.db') else None </b><br> </blockquote>  </blockquote>

### <li> 3° Passo: Conectar no banco de dados através do SQLite3

In [ ]:
conn = sqlite3.connect('zoologico.db')

>#### <li> 3.1° Passo: Criar um cursor <br> 
<blockquote> <blockquote>   <b> Cursor </b> é necessário para poder navegar através do banco de dados</blockquote>  </blockquote>

In [ ]:
cur = conn.cursor()

### <li> 4° Passo: Criar a tabela por meio de codigo SQL  <br>

In [ ]:
sql_create ='CREATE TABLE animais '\
            '(id_animal INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,'\
            'apelido VARCHAR(50),'\
            'idade INT,'\
            'data_nascimento DATE,'\
            'peso FLOAT,'\
            'especie VARCHAR(50),'\
            'origem VARCHAR(50))';

<blockquote><h4>  4.1° Passo: Executar o código de criação da tabela pelo cursor </h4></blockquote>    
<blockquote> <blockquote>   Código: <b>cur.execute(sql_create) </b> </blockquote>  </blockquote>

### <li> 5° Passo: Automatizar o processor de inserir os dados <br>

><h4> <li> 5.1° Passo:Criar funções para inserir dados na tabela </h4>

In [ ]:
def insert():
    print('\n_____________________________________________________\n')
    
    input_apelido = input('Qual o Apelido do animal: ') 
    input_idade = int(input('Qual a idade dele: '))
    input_dataNascimento = random_birth(input_idade)
    input_peso = float(input('Qual o peso dele: '))
    input_especie = input('Qual a especide do animal: ')
    input_origem = input('Qual o local de origem do animal: ')
    cur.execute('INSERT INTO animais(apelido,idade,data_nascimento,peso,especie,origem) VALUES(? , ? , ?, ?, ?, ?)', 
                (input_apelido,input_idade,input_dataNascimento,input_peso,input_especie,input_origem))
    
    conn.commit()
    
    print('\n_____________________________________________________\n')

> Utilizar o <b>conn.commit( )</b> para salvar as alterações no banco de dados

In [ ]:
def random_birth(vIdade):
    mes = random.randint(1,12)
    dia = random.randint(1,30)
    ano = 2021-vIdade
    dataNascimento = str(ano)+'-'+str(mes)+'-'+str(dia)

    return dataNascimento

><h4> <li> 5.2° Passo: Criar um Loop para executar as funções</h4>

In [ ]:
while True:
    continuar = int((input('Você deseja adicionar um novo dado ao banco de dados?\nDigite " 1 " para SIM e " 0 " para NÃO')))
    if continuar == 1: 
        insert()
    else:
        break

### <li> 6° Passo: Consultar os dados do banco <br>

In [ ]:
def read():
    sql_select = 'SELECT * FROM animais'
    cur.execute(sql_select)
    database = cur.fetchall()
    
    for linha in database:
        print('Id: %d, Apelido: %s, Idade: %d, Data de Nascimento: %s, Peso: %f, Espêcie: %s, Origem: %s \n' %linha)

> <h4> <li> 6.1° Passo: Banco de dados é convertido para lista para podermos visualiza-lo </h4>

<blockquote> <blockquote>Código: <b>type(database)<b> </blockquote></blockquote>

In [ ]:
read()

### <li> 7° Passo: Alterando dados por meio do UPDATE

In [ ]:
def update():
    print('\n_____________________________________________________\n')
    
    id_consulta = int(input('Qual o id do registro que será alterado ')) #Busca ID
    
    print('Qual coluna deseja alterar \n'\
         '[ 0 ] para Apelido. \n'\
         '[ 1 ] para Idade. \n'\
         '[ 2 ] para Data de Nascimento. \n'\
         '[ 3 ] para Peso. \n'\
         '[ 4 ] para Espêcie. \n'\
         '[ 5 ] para Origem. \n')
    input_coluna = int(input('Qual coluna deseja alterar ? '))
    
    if input_coluna == 0:
        coluna = 'apelido'
        new_valor = input('Digite o novo apelido ')
        new_valor = f'"{new_valor}"' 
    elif input_coluna == 1:
        coluna = 'idade'
        new_valor = input('Digite a idade')
    elif input_coluna == 2:
        coluna = 'data_nascimento'
        new_valor = input('Digite a data de nascimento exemplo: (2020-01-29)')
        new_valor = f'"{new_valor}"'
    elif input_coluna == 3:
        coluna = 'peso'
        new_valor = input('Digite o peso')
    elif input_coluna == 4:
        coluna = 'especie'
        new_valor = input('Digite a Especie')
        new_valor = f'"{new_valor}"'
    elif input_coluna == 5:
        coluna = 'origem'
        new_valor = input('Digite a Origem')
        new_valor = f'"{new_valor}"'
    else:
        print('Coluna inexistente')
    
    sql_update = 'UPDATE animais SET ' + str(coluna) + ' = '+ str(new_valor) +' WHERE id_animal = '+str(id_consulta)+';'
    
    print('\nDados Alterados com sucesso! \n')
    
    cur.execute(sql_update)
    conn.commit()
    
    print('\n_____________________________________________________\n')

> <h4> <li> 7.1° Passo: Criar um loop para chamar a função update() </h4>

In [ ]:
while True:
    fazer_update = int(input('Deseja Fazer Algum UPDATE no banco de dados ? \n[ 0 ] = Não \n[ 1 ] = Sim \n'))
    if fazer_update == 1:    
        update()
    else:
        break

### <li> 8° Passo: Alterando dados por meio do DELETE construindo

In [ ]:
def delete():
    id_consulta = input('Qual o id do registro que será DELETADO ')
    sql_delete ='DELETE FROM animais WHERE id_animal = '+str(id_consulta)+';'
    cur.execute(sql_delete)
    conn.commit()

In [ ]:
while True:
    fazer_delete = int(input('Deseja DELETAR algum registro no banco de dados ? \n[ 0 ] = Não \n[ 1 ] = Sim \n'))
    if fazer_delete == 1:    
        delete()
    else:
        break

### <li> 9° Passo: Criar um menu para pessoa escolher a operação que deseja realizar  (EXTRA)

In [ ]:
while True:
    select_option = int(input('Escolha uma operação para realizar no banco: '\
                          '\n[ 0 ] = Insert \n[ 1 ] = Read \n[ 2 ] = Update \n[ 3 ] = Delete \n[ 4 ] = Cancelar \n'))
    if select_option <= 4:
        if select_option == 0:
            insert()
        elif select_option == 1:
            read()
        elif select_option == 2:
            update()
        elif select_option == 3:
            delete()
        elif select_option == 4:
            print('Operação Cancelada')
            break
    else:
        print('\nOperação Inexistente\n')